body{
    padding:40px;
    
    
    background-color:rgb(243, 172, 248)
}
.accordian{
    box-shadow:1px 1px 5px rgb(244, 153, 168);
border-radius:4px;
margin-bottom: 16px;
padding:4px 16px;
background-color:white;
cursor: pointer;
}


.question{
   display:flex;
   align-items:center;
justify-content: space-between;
   
}
.icon{
    margin-right: 16px;
}
.icon.active{
    transform: rotate(-180deg);
}
.answer{

    color:rgb(101, 90, 90);
    max-height:0;
    overflow:hidden;
}
.answer.active{
    max-height:fit-content;
}